@model QLCBCore.Models.DienBienNgachBac

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#NgayHuong').datepicker({ dateFormat: 'dd/mm/yy' });

    });</script>
<style>


    .row {
        padding: 5px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    select {
        width: 100%;
    }
</style>

@*<h4>DienBienNgachBac</h4>*@
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card card-primary card-outline">
            <div class="card-header"><h3 class="card-title"><i class="fas fa-edit"></i>  THÊM MỚI THÔNG TIN CÁN BỘ</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CanBoID" class="control-label"></label>
                            <select asp-for="CanBoID" class="form-control" asp-items="ViewBag.CanBoID"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgachID" class="control-label"></label>
                            <select asp-for="NgachID" class="form-control" asp-items="ViewBag.NgachID"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BacLuong" class="control-label"></label>
                            <input asp-for="BacLuong" class="form-control" />
                            <span asp-validation-for="BacLuong" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayHuong" class="control-label"></label>
                            @*<input asp-for="NgayHuong" class="form-control" />*@
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" placeholder="DD/MM/YYYY" asp-for="NgayHuong">
                            </div>
                            <span asp-validation-for="NgayHuong" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayKetThuc" class="control-label"></label>
                            <input asp-for="NgayKetThuc" class="form-control" />
                            <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ThoiHanNangBac" class="control-label"></label>
                            <input asp-for="ThoiHanNangBac" class="form-control" />
                            <span asp-validation-for="ThoiHanNangBac" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DaVuotKhung" class="control-label"></label>
                            <input asp-for="DaVuotKhung" class="form-control" />
                            <span asp-validation-for="DaVuotKhung" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SoQD" class="control-label"></label>
                            <input asp-for="SoQD" class="form-control" />
                            <span asp-validation-for="SoQD" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NguoiKy" class="control-label"></label>
                            <input asp-for="NguoiKy" class="form-control" />
                            <span asp-validation-for="NguoiKy" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayKy" class="control-label"></label>
                            <input asp-for="NgayKy" class="form-control" />
                            <span asp-validation-for="NgayKy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HSCLBL" class="control-label"></label>
                            <input asp-for="HSCLBL" class="form-control" />
                            <span asp-validation-for="HSCLBL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HeSo" class="control-label"></label>
                            <input asp-for="HeSo" class="form-control" />
                            <span asp-validation-for="HeSo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapVuotKhung" class="control-label"></label>
                            <input asp-for="PhuCapVuotKhung" class="form-control" />
                            <span asp-validation-for="PhuCapVuotKhung" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapKhac" class="control-label"></label>
                            <input asp-for="PhuCapKhac" class="form-control" />
                            <span asp-validation-for="PhuCapKhac" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LuongCoBan" class="control-label"></label>
                            <input asp-for="LuongCoBan" class="form-control" />
                            <span asp-validation-for="LuongCoBan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Kieu" class="control-label"></label>
                            <input asp-for="Kieu" class="form-control" />
                            <span asp-validation-for="Kieu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Curent" class="control-label"></label>
                            <input asp-for="Curent" class="form-control" />
                            <span asp-validation-for="Curent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgachCuID" class="control-label"></label>
                            <input asp-for="NgachCuID" class="form-control" />
                            <span asp-validation-for="NgachCuID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapChucVu" class="control-label"></label>
                            <input asp-for="PhuCapChucVu" class="form-control" />
                            <span asp-validation-for="PhuCapChucVu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapTrachNhiem" class="control-label"></label>
                            <input asp-for="PhuCapTrachNhiem" class="form-control" />
                            <span asp-validation-for="PhuCapTrachNhiem" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapKhuVuc" class="control-label"></label>
                            <input asp-for="PhuCapKhuVuc" class="form-control" />
                            <span asp-validation-for="PhuCapKhuVuc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BatDauGiuNgach" class="control-label"></label>
                            <input asp-for="BatDauGiuNgach" class="form-control" />
                            <span asp-validation-for="BatDauGiuNgach" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GhiChu" class="control-label"></label>
                            <input asp-for="GhiChu" class="form-control" />
                            <span asp-validation-for="GhiChu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="isTapSu" class="control-label"></label>
                            <input asp-for="isTapSu" class="form-control" />
                            <span asp-validation-for="isTapSu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapUuDai" class="control-label"></label>
                            <input asp-for="PhuCapUuDai" class="form-control" />
                            <span asp-validation-for="PhuCapUuDai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DonGiaDocHai" class="control-label"></label>
                            <input asp-for="DonGiaDocHai" class="form-control" />
                            <span asp-validation-for="DonGiaDocHai" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapDocHai" class="control-label"></label>
                            <input asp-for="PhuCapDocHai" class="form-control" />
                            <span asp-validation-for="PhuCapDocHai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayBatDauGiuNgach" class="control-label"></label>
                            <input asp-for="NgayBatDauGiuNgach" class="form-control" />
                            <span asp-validation-for="NgayBatDauGiuNgach" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ThoiGianTapSu" class="control-label"></label>
                            <input asp-for="ThoiGianTapSu" class="form-control" />
                            <span asp-validation-for="ThoiGianTapSu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapThuHut" class="control-label"></label>
                            <input asp-for="PhuCapThuHut" class="form-control" />
                            <span asp-validation-for="PhuCapThuHut" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapLuuDong" class="control-label"></label>
                            <input asp-for="PhuCapLuuDong" class="form-control" />
                            <span asp-validation-for="PhuCapLuuDong" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HeSoChenhLechBaoLuu" class="control-label"></label>
                            <input asp-for="HeSoChenhLechBaoLuu" class="form-control" />
                            <span asp-validation-for="HeSoChenhLechBaoLuu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapDacBiet" class="control-label"></label>
                            <input asp-for="PhuCapDacBiet" class="form-control" />
                            <span asp-validation-for="PhuCapDacBiet" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhuCapThamNien" class="control-label"></label>
                            <input asp-for="PhuCapThamNien" class="form-control" />
                            <span asp-validation-for="PhuCapThamNien" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ThamNienVungKhoKhan" class="control-label"></label>
                            <input asp-for="ThamNienVungKhoKhan" class="form-control" />
                            <span asp-validation-for="ThamNienVungKhoKhan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IsDeleted" class="control-label"></label>
                            <input asp-for="IsDeleted" class="form-control" />
                            <span asp-validation-for="IsDeleted" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

