<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index","Home")" class="brand-link">
        <img src="~/Layout/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">QLCB 2019</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Layout/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a data-active="CanBo" href="~/CanBo/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Hồ sơ cán bộ</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>Danh sách cán bộ</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="~/DanhSachCanBo/CanBoSinhNhat/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sinh nhật trong tháng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/DanhSachCanBo/CanBoNangLuong/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sắp đến hạn nâng lương</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/DanhSachCanBo/CanBoSapHetHanChucVu/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sắp hết hạn giữ chức vụ</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DSCB chuyển công tác</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DSCB nghỉ hưu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DSCB thôi việc</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DSCB từ trần</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DSCB đã xóa</p>
                            </a>
                        </li>*@
                    </ul>
                </li>
                @*vbgbg*@
                @*Quá Trình*@
                @*<li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Quá trình
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/DienBienChucVus/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Diễn biến chức vụ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DienBienNgachBacs/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Diễn biến ngạch bậc</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/QTCongTacs/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quá trình công tác</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/QTKhenThuongs/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quá trình khen thưởng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/QTKyLuats/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quá trình kỷ luật</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/QuanHeGiaDinhs/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quan hệ gia đình</p>
                            </a>
                        </li>
                    </ul>
                </li>*@

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Báo cáo
                            <i class="fas fa-angle-left right"></i>
                            @*<span class="badge badge-info right">6</span>*@
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/ReportSLCLCBTheoDoTuois/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Số lượng, chất lượng cán bộ theo độ tuổi</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Thống kê
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ChartJS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Flot</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inline</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @*vbgbg*@
                @*<li class="nav-item has-treeview">
                    <a data-active="BaoCao" href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>Báo cáo</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DS cán bộ thi đua</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index2.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DS cán bộ khen thưởng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DS cán bộ kỉ luật</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a data-active="ThongKe" href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Thống kê</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ChartJS</p>
                            </a>
                        </li>

                    </ul>
                </li>*@
                <li class="nav-item has-treeview">
                    <a data-active="HeThong" href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>Hệ thống</p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a data-active="DonVi" data-parent="HeThong" href="~/DonVi/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đơn vị</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-header">Hỗ trợ</li>
                <li class="nav-item has-treeview">
                    <a data-active="TaiLieu" href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Tài liệu</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a data-active="LienHe" href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>Liên hệ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-active="TroGiup" href="pages/calendar.html" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>Trợ giúp</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
