@model QLCBCore.Models.DienBienChucVu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DienBienChucVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CanBoID" class="control-label"></label>
                <select asp-for="CanBoID" class="form-control" asp-items="ViewBag.CanBoID"></select>
                <span asp-validation-for="CanBoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuNgay" class="control-label"></label>
                <input asp-for="TuNgay" class="form-control" />
                <span asp-validation-for="TuNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DenNgay" class="control-label"></label>
                <input asp-for="DenNgay" class="form-control" />
                <span asp-validation-for="DenNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVuID" class="control-label"></label>
                <select asp-for="ChucVuID" class="form-control" asp-items="ViewBag.ChucVuID"></select>
                <span asp-validation-for="ChucVuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhuCapChucVu" class="control-label"></label>
                <input asp-for="PhuCapChucVu" class="form-control" />
                <span asp-validation-for="PhuCapChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curent" class="control-label"></label>
                <input asp-for="Curent" class="form-control" />
                <span asp-validation-for="Curent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isLeader" class="control-label"></label>
                <input asp-for="isLeader" class="form-control" />
                <span asp-validation-for="isLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBoNhiem" class="control-label"></label>
                <input asp-for="NgayBoNhiem" class="form-control" />
                <span asp-validation-for="NgayBoNhiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiKy" class="control-label"></label>
                <input asp-for="NguoiKy" class="form-control" />
                <span asp-validation-for="NguoiKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongBanID" class="control-label"></label>
                <select asp-for="PhongBanID" class="form-control" asp-items="ViewBag.PhongBanID"></select>
                <span asp-validation-for="PhongBanID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDangDoan" class="control-label"></label>
                <input asp-for="IsDangDoan" class="form-control" />
                <span asp-validation-for="IsDangDoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

