@model QLCBCore.Models.QTCongTac

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
    $(document).ready(function () {
        $('#CanBoID').select2();

    });</script>
<style>

    .row {
        padding: 5px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    select {
        width: 100%;
    }
</style>

@*<h4>QTCongTac</h4>*@
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card card-primary card-outline">
                <div class="card-header"><h3 class="card-title"><i class="fas fa-edit"></i>THÊM MỚI QUÁ TRÌNH CÔNG TÁC</h3></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CanBoID" class="control-label"></label>
                                <select asp-for="CanBoID" class="form-control" asp-items="ViewBag.CanBoID"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TuThangNam" class="control-label"></label>
                                <input asp-for="TuThangNam" class="form-control" />
                                <span asp-validation-for="TuThangNam" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DenThangNam" class="control-label"></label>
                                <input asp-for="DenThangNam" class="form-control" />
                                <span asp-validation-for="DenThangNam" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="GhiChu" class="control-label"></label>
                                <input asp-for="GhiChu" class="form-control" />
                                <span asp-validation-for="GhiChu" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="isChuyenCT" class="control-label"></label>
                                <input asp-for="isChuyenCT" class="form-control" />
                                <span asp-validation-for="isChuyenCT" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsDeleted" class="control-label"></label>
                                <input asp-for="IsDeleted" class="form-control" />
                                <span asp-validation-for="IsDeleted" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

