@model QLCBCore.Models.QTKhenThuong

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>QTKhenThuong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CanBoID" class="control-label"></label>
                <input asp-for="CanBoID" class="form-control" />
                <span asp-validation-for="CanBoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhThucKhenThuongID" class="control-label"></label>
                <input asp-for="HinhThucKhenThuongID" class="form-control" />
                <span asp-validation-for="HinhThucKhenThuongID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKhenThuong" class="control-label"></label>
                <input asp-for="NgayKhenThuong" class="form-control" />
                <span asp-validation-for="NgayKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCaoNhat" class="control-label"></label>
                <input asp-for="IsCaoNhat" class="form-control" />
                <span asp-validation-for="IsCaoNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKy" class="control-label"></label>
                <input asp-for="NgayKy" class="form-control" />
                <span asp-validation-for="NgayKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoQuanBanHanhQD" class="control-label"></label>
                <input asp-for="CoQuanBanHanhQD" class="form-control" />
                <span asp-validation-for="CoQuanBanHanhQD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsKhenThuong" class="control-label"></label>
                <input asp-for="IsKhenThuong" class="form-control" />
                <span asp-validation-for="IsKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucKhenThuong" class="control-label"></label>
                <input asp-for="MucKhenThuong" class="form-control" />
                <span asp-validation-for="MucKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

