@model QLCBCore.Models.CanBo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#DanTocID').select2();
        $('#TonGiaoID').select2();
        $('#TDPhoThongID').select2();
        $('#HocHamID').select2();
        $('#NgheNghiepID').select2();
        $('#TDPhoThongID').select2();
        $('#NgheNghiepID').select2();
        $('#HinhThucThiTuyenID').select2();
        $('#QuanHamCaoNhatID').select2();
        $('#HangThuongBinhID').select2();
        $('#GiaDinhCSID').select2();
        $('#SucKhoeID').select2();
        $('#DonViID').select2();
        $('#KieuCanBo').select2();
        $('#TrangThai').select2();
    });
</script>

<style>
    .row {
        padding: 5px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    select {
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<hr />
<div class="row">

    <form method="POST" enctype="multipart/form-data" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card card-primary card-outline">
            <div class="card-header"><h3 class="card-title"><i class="fas fa-plus-circle"></i>  THÊM MỚI THÔNG TIN CÁN BỘ</h3></div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Ma" class="control-label"></label>
                            <input asp-for="Ma" class="form-control" />
                            <span asp-validation-for="Ma" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="SoHieu" class="control-label"></label>
                            <input asp-for="SoHieu" class="form-control" />
                            <span asp-validation-for="SoHieu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HoTen" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <input asp-for="HoTen" class="form-control" />
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TenGoiKhac" class="control-label"></label>
                            <input asp-for="TenGoiKhac" class="form-control" />
                            <span asp-validation-for="TenGoiKhac" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                <label asp-for="GioiTinh" class="control-label"></label>
                                <span class="text-danger"> * </span>
                            </div>
                            <div class="d-inline-flex mt-2">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" value="true" type="radio" id="GioiTinh1" name="GioiTinh" checked="">
                                    <label for="GioiTinh1" class="custom-control-label">Nam</label>
                                </div>
                                <div class="custom-control custom-radio ml-3">
                                    <input class="custom-control-input" value="false" type="radio" id="GioiTinh2" name="GioiTinh">
                                    <label for="GioiTinh2" class="custom-control-label">Nữ</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgaySinh" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgaySinh">

                            </div>
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DanTocID" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div>
                                <select class="form-control" asp-for="DanTocID" asp-items="ViewBag.DanTocID"></select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TonGiaoID" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div>
                                <select class="form-control" asp-for="TonGiaoID" asp-items="ViewBag.TonGiaoID"></select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DonViID" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div>
                                <select class="form-control" asp-for="DonViID" asp-items="ViewBag.DonViID"><option value=""> Chọn </option></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TrangThai" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            @*<input asp-for="TrangThai" class="form-control" />*@
                            <select class="form-control" asp-for="TrangThai">
                                <option value="0">Đang công tác</option>
                                <option value="1">Điều chuyển</option>
                                <option value="2">Nghỉ hưu</option>
                                <option value="3">Thôi việc</option>
                                <option value="4">Từ trần</option>

                            </select>

                            @*<span asp-validation-for="TrangThai" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DienThoai" class="control-label"></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input asp-for="DienThoai" type="text" class="form-control">
                                <span asp-validation-for="DienThoai" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                    <label asp-for="DienThoai" class="control-label"></label>
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
                                </div>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            @*<input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CMTND" class="control-label"></label>
                            <input asp-for="CMTND" class="form-control" />
                            <span asp-validation-for="CMTND" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="NgayCapCMT" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayCapCMT">
                            </div>
                            <span asp-validation-for="NgayCapCMT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="NoiCapCMT" class="control-label"></label>
                                <input asp-for="NoiCapCMT" class="form-control" />
                                <span asp-validation-for="NoiCapCMT" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NoiSinhID" class="control-label"></label>
                            <input asp-for="NoiSinhID" class="form-control" />
                            <span asp-validation-for="NoiSinhID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="QueQuanID" class="control-label"></label>
                            <input asp-for="QueQuanID" class="form-control" />
                            <span asp-validation-for="QueQuanID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HKTT" class="control-label"></label>
                            <input asp-for="HKTT" class="form-control" />
                            <span asp-validation-for="HKTT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NoiO" class="control-label"></label>
                            <input asp-for="NoiO" class="form-control" />
                            <span asp-validation-for="NoiO" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TDPhoThongID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="TDPhoThongID" asp-items="ViewBag.TDPhoThongID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                    <label asp-for="TDPhoThongID" class="control-label"></label>
                    <input asp-for="TDPhoThongID" class="form-control" />
                    <span asp-validation-for="TDPhoThongID" class="text-danger"></span>
                </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HocHamID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="HocHamID" asp-items="ViewBag.HocHamID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                    <label asp-for="ChucDanhKhoaHocID" class="control-label"></label>
                    <input asp-for="ChucDanhKhoaHocID" class="form-control" />
                    <span asp-validation-for="ChucDanhKhoaHocID" class="text-danger"></span>
                </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HinhAnh" class="control-label"></label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="ImageFile" id="ImageFile">
                                    <label class="custom-file-label" id="FileName">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                            <span class="text-danger">@(ViewBag.Image_Notif)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-header"><h3 class="card-title">THÔNG TIN TUYỂN DỤNG</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgheNghiepID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="NgheNghiepID" asp-items="ViewBag.NgheNghiepID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="NgheNghiepID" class="control-label"></label>
                            <input asp-for="NgheNghiepID" class="form-control" />
                            <span asp-validation-for="NgheNghiepID" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CoquanTuyenDung" class="control-label"></label>
                            <input asp-for="CoquanTuyenDung" class="form-control" />
                            <span asp-validation-for="CoquanTuyenDung" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="NgayTuyen" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayTuyen" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayTuyen" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="NgayVeCQ" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayVeCQ" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayVeCQ" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="HinhThucThiTuyenID" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div>
                                <select class="form-control" asp-for="HinhThucThiTuyenID" asp-items="ViewBag.HinhThucThiTuyenID"></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="HinhThucThiTuyenID" class="control-label"></label>
                            <input asp-for="HinhThucThiTuyenID" class="form-control" />
                            <span asp-validation-for="HinhThucThiTuyenID" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="KieuCanBo" class="control-label"></label>
                            <span class="text-danger"> * </span>
                            <div>
                                <select class="form-control" asp-for="KieuCanBo" asp-items="ViewBag.KieuCanBo"></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="KieuCanBo" class="control-label"></label>
                            <input asp-for="KieuCanBo" class="form-control" />
                            <span asp-validation-for="KieuCanBo" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayHetHanHD" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayHetHanHD" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayHetHanHD" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CongViecDuocGiao" class="control-label"></label>
                            <input asp-for="CongViecDuocGiao" class="form-control" />
                            <span asp-validation-for="CongViecDuocGiao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SoTruongCongTac" class="control-label"></label>
                            <input asp-for="SoTruongCongTac" class="form-control" />
                            <span asp-validation-for="SoTruongCongTac" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card card-primary card-outline">
            <div class="card-header"><h3 class="card-title">THAM GIA TỔ CHỨC XÃ HỘI</h3></div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayVaoDang" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayVaoDang" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayVaoDang" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayChinhThuc" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayChinhThuc" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayChinhThuc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayNhapNgu" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayNhapNgu" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayNhapNgu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NgayXuatNgu" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control date-time" asp-for="NgayXuatNgu" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">

                            </div>
                            <span asp-validation-for="NgayXuatNgu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="QuanHamCaoNhatID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="QuanHamCaoNhatID" asp-items="ViewBag.QuanHamCaoNhatID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="QuanHamCaoNhatID" class="control-label"></label>
                            <input asp-for="QuanHamCaoNhatID" class="form-control" />
                            <span asp-validation-for="QuanHamCaoNhatID" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="HangThuongBinhID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="HangThuongBinhID" asp-items="ViewBag.HangThuongBinhID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="GiaDinhCSID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="GiaDinhCSID" asp-items="ViewBag.GiaDinhCSID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="GiaDinhCSID" class="control-label"></label>
                            <input asp-for="GiaDinhCSID" class="form-control" />
                            <span asp-validation-for="GiaDinhCSID" class="text-danger"></span>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-header"><h3 class="card-title">THÔNG TIN KHÁC</h3></div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        
                        <div class="form-group">
                            <label asp-for="SucKhoeID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="SucKhoeID" asp-items="ViewBag.SucKhoeID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ChieuCao" class="control-label"></label>
                            <input asp-for="ChieuCao" class="form-control" />
                            <span asp-validation-for="ChieuCao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CanNang" class="control-label"></label>
                            <input asp-for="CanNang" class="form-control" />
                            <span asp-validation-for="CanNang" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="NhomMauID" class="control-label"></label>
                            <div>
                                <select class="form-control" asp-for="NhomMauID" asp-items="ViewBag.NhomMauID"><option value=""> Chọn </option></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="NhomMauID" class="control-label"></label>
                            <input asp-for="NhomMauID" class="form-control" />
                            <span asp-validation-for="NhomMauID" class="text-danger"></span>
                        </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SoBHXH" class="control-label"></label>
                            <input asp-for="SoBHXH" class="form-control" />
                            <span asp-validation-for="SoBHXH" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NoiCapSoBHXH" class="control-label"></label>
                            <input asp-for="NoiCapSoBHXH" class="form-control" />
                            <span asp-validation-for="NoiCapSoBHXH" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SoBHYT" class="control-label"></label>
                            <input asp-for="SoBHYT" class="form-control" />
                            <span asp-validation-for="SoBHYT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="LichSuBanThan" class="control-label"></label>
                            
                            <textarea class="form-control" asp-for="LichSuBanThan"> </textarea>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GhiChu" class="control-label"></label>
                            <input asp-for="GhiChu" class="form-control" />
                            <span asp-validation-for="GhiChu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NhanXetDanhGia" class="control-label"></label>
                            <input asp-for="NhanXetDanhGia" class="form-control" />
                            <span asp-validation-for="NhanXetDanhGia" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h5 class="text-center">Lưu ý: Các trường có dấu (<span class="text-danger">*</span>) bắt buộc nhập thông tin</h5>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>

<div>
    <button asp-action="Index">Trở lại danh sách</button>
</div>


