@model QLCBCore.Models.QTKyLuat

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .row {
        padding: 5px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    select {
        width: 100%;
    }
</style>
@*<h4>QTKyLuat</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card card-primary card-outline">
                <div class="card-header"><h3 class="card-title"><i class="fas fa-edit"></i>  THÊM MỚI QUÁ TRÌNH CÔNG TÁC</h3></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CanBoID" class="control-label"></label>
                                <select asp-for="CanBoID" class="form-control" asp-items="ViewBag.CanBoID"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NgayKyLuat" class="control-label"></label>
                                <input asp-for="NgayKyLuat" class="form-control" />
                                <span asp-validation-for="NgayKyLuat" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="KyLuatID" class="control-label"></label>
                                <select asp-for="KyLuatID" class="form-control" asp-items="ViewBag.KyLuatID"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NoiDung" class="control-label"></label>
                                <input asp-for="NoiDung" class="form-control" />
                                <span asp-validation-for="NoiDung" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsCaoNhat" class="control-label"></label>
                                <input asp-for="IsCaoNhat" class="form-control" />
                                <span asp-validation-for="IsCaoNhat" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SoQuyetDinh" class="control-label"></label>
                                    <input asp-for="SoQuyetDinh" class="form-control" />
                                    <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CoQuanBanHanhQD" class="control-label"></label>
                                <input asp-for="CoQuanBanHanhQD" class="form-control" />
                                <span asp-validation-for="CoQuanBanHanhQD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsDeleted" class="control-label"></label>
                                <input asp-for="IsDeleted" class="form-control" />
                                <span asp-validation-for="IsDeleted" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

