@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@(ViewBag.TongSoCB != null ? ViewBag.TongSoCB : 0)</h3>

                <p  style="margin: inherit;">Cán bộ đang công tác</p>
                <p style="margin: inherit;color:#17a2b8">s</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="/CanBo/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@(ViewBag.TongSoCBSN!=null? ViewBag.TongSoCBSN:0)
                @*<sup style="font-size: 20px">%</sup>*@
                </h3>

                <p style="margin: inherit;">Cán bộ sinh nhật</p>
                <p style="margin: inherit;">trong tháng</p>
            </div>
            <div class="icon">
                <i class="fa fa-birthday-cake"></i>
            </div>
            <a href="DanhSachCanBo/CanBoSinhNhat" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@(ViewBag.TongSoCBCV != null ? ViewBag.TongSoCBCV : 0)</h3>

                <p style="margin: inherit;">Cán bộ sắp hết hạn</p>
                <p style="margin: inherit;">giữ chức vụ</p>
            </div>
            <div class="icon">
                <i class="fa fa-clock"></i>
            </div>
            <a href="DanhSachCanBo/CanBoSapHetHanChucVu/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@(ViewBag.TongSoCBNL !=null ? ViewBag.TongSoCBNL : ViewBag.Default)</h3>

                <p style="margin: inherit;">Cán bộ sắp đến hạn</p>
                <p style="margin: inherit;">nâng lương</p>
            </div>
            <div class="icon">
                <i class="fa fa-dollar-sign"></i>
            </div>
            <a href="DanhSachCanBo/CanBoNangLuong/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>




    <!-- ./col -->
</div>
